extends top_bar
 
block internal_content
    table.table.striped-table
        thead
            tr
                th
                    |Name
                th 
                    |id
        tbody
            - each item in games
                tr
                    td= item.name
                    td= item.game_id
            tr
                form(role='form', action="/website/games/add", method="post", style='max-width: 300px;')
                    td
                     .form-group
                        input.form-control(type='text', name="name", placeholder='Game Name') 
                    td
                      .form-group
                        input.form-control(type='hidden',name="website", value=website, disabled) 
                        input.form-control(type='hidden',name="website", value=website) 
                    td
                        button.btn.btn-default(type='submit') Submit
    
