extends top_bar
 
block internal_content
    table.table.striped-table
        thead
            tr
                th
                    |Name
        tbody
            - each item in games
                tr
                    td= item.name
                    td
                        a.btn.btn-default(href="/settings/" + item.name) Edit
    
